<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="XmlPath" value="sampleConfiguration.xml" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="">
        <network host="" port="" userName="" password=""/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>